/* 初始化 */
html,
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* 主体头部 */
.header {
    height: 44px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.menubar {
    width: 40px;
    /* height: 2.75rem; */
    height: 44px;
}

.menubar a {
    display: block;
    background-image: url("../image/homeimg/menu.png");
    background-repeat: no-repeat;
    background-size: 50% auto;
    /* height: 2.75rem; */
    width: 40px;
    height: 44px;
    background-position: center;
}

.menu-search {
    display: flex;
    align-items: center;
    height: 30px;
    align-self: center;
    background-color: #f7f7f7;
    border-radius: 15px;
    ;
    overflow: hidden;
    flex-grow: 1;
}

.menu-search>span:nth-child(1) {
    display: block;
    /* width: 1.25rem;
    height: .9375rem; */
    width: 20px;
    height: 15px;
    background-image: url("../image/homeimg/jd.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    margin-left: 16px;
}

.menu-search>span:nth-child(1)::after {
    content: "";
    display: block;
    height: 16px;
    border-right: 1px solid #dddddd;
    position: absolute;
    left: 26px;
    top: 0;
}

.menu-search>span:nth-child(2) {
    display: block;
    color: #b7b7b7;
    margin-left: 14px;
    width: 18px;
    height: 15px;
    font-size: 20px;
    margin-top: -6px;
}

.menu-search input {
    padding: 0;
    border: none;
    outline: none;
    height: 30px;
    background-color: #f7f7f7;
    margin-left: 10px;
    flex-grow: 1;
}

.menu-login {
    width: 40px;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
}


/* 主体内容 */
.section {
    height: 2000px;
    background-color: rgb(214, 202, 202);
}

/* swiper banner */
.swiper-container.banner {
    width: 100%;
}

.swiper-container.banner .swiper-slide>a {
    display: block;
    height: 9.75rem;
}

.swiper-container.banner .swiper-slide a img {
    width: 100%;
    height: 100%;
}

.swiper-container.banner .swiper-pagination-bullet {
    opacity: 1;
    width: 4px;
    height: 4px;
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 7px;
}

.swiper-container.banner .swiper-pagination-bullet-active {
    background-color: #ffffff;
}

.banner.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}



/* swiper category */
.swiper-container.category {
    width: 100%;
    margin-top: -8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.page1,
.page2 {
    height: 9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ffffff;
}

.page1>div,
.page2>div {
    margin-top: 8px;
}

.page1>div a,
.page2>div a {
    display: block;
    width: 18vw;
    text-align: center;
}

.page1>div a img,
.page2>div a img {
    width: 2.125rem;
}

.page1>div a span,
.page2>div a span {
    display: block;
    font-size: .625rem;
    font-family: -apple-system, Helvetica, sans-serif
}

.categoryPa .swiper-pagination-bullet {
    box-sizing: border-box;
    width: 5px;
    height: 5px;
    opacity: 1;
    background-color: #cccccc;
}

.categoryPa .swiper-pagination-bullet-active {
    background: #f07678;
    width: 10px;
    height: 5px;
    border-radius: 3px;
}

.category.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 2px;
    left: 0;
    width: 100%;
}


/* swiper promotion */
.swiper-container.banner {
    width: 100%;
}

.pro-banner {
    display: flex;
    justify-content: space-between;
    background-image: url("../image/promotionimg/2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* height: 30px; */
    height: 1.875rem;
}

.pro-banner .pro-banner-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 185px;
}
.pro-banner .pro-banner-left .title {
    align-self: flex-end;
}
.pro-banner .pro-banner-left .title a {
    display: block;
    width: 69px;
}
.pro-banner .pro-banner-left .title a img {
    width: 100%;
    height: 100%;

}

.pro-banner .pro-banner-left .time {
    align-self: baseline;
    font-size: 12px;
    font-weight: 700;
}
.pro-banner .pro-banner-left .timer {
    align-self: baseline;
    font-size: 12px;
}


.pro-banner-right {
    
}













/* 底部导航 */
.nav {
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav>div>a {
    display: block;
    text-align: center;
    width: 52px;
    height: auto;
}

.nav>div img {
    width: 100%;
    vertical-align: middle;
}